
body{
    font-family:"Helvetica",Arial,Sans-Serif;    
    counter-reset: page;
}

/*@page {
    @bottom {
        content: "Halaman " counter(page) " s/d " counter(pages)
    }
}*/

.page-number{
    text-align: center;
    width: 100%;
    font-size: 16pt;
    border-top: solid 1px;
    margin-top: 10px;
    position: absolute;
    buttom:0px;
}
.page-number:before {
    counter-increment: page;
    content: "Halaman " counter(page) ;

}

@media print {
    .newpage{
        page-break-after: always;        
    }
}

@media screen {
    tbody .head{
        display: none;
    }
}

@media print{
    tr.end{
        page-break-after: always;
    }
}

@page{
    margin: 10px 10px 100px 10px;
}

table.detail
{
    font-size: 10pt;
    border-collapse:collapse;
    font-family:"Helvetica",Arial,Sans-Serif;
    width: 100%;
    page-break-inside:auto;
}

table.detail td,table.detail th{
    border: 1px solid black;
    font-family:"Helvetica",Arial,Sans-Serif;
    vertical-align: top;
    page-break-after: always;
    page-break-inside:avoid; 
    /*page-break-after:auto*/
}

table.detail th{
    background-color: grey;
}

table.detail td.hapus-garis-bawah{
    border-bottom: none;
    border-collapse:none;
}

table.detail td.hapus-garis-atas{
    border-top: none;
}

table.detail td.hapus-garis-kanan{
    border-right: none;
}

table.detail td.hapus-garis-kiri{
    border-left: none;
}

.clstdnumber{
    text-align: right;
}

.flKanan{
    float: right;
}

td.clstdcenter{
    text-align: center;
}

.cls-libur{
    background-color: grey !important;
}

.clsbawah{
    vertical-align: bottom;
}

.clstop{
    vertical-align: top;
}

.clsmiddle{
    vertical-align: middle;
}

table.tbl5{
    font-size: 8pt;
    border-collapse:collapse;
    font-family:"Courier New",Courier,Monospace;
    float:left;
    width: 45%;
}

table.tbl5 td,table.tbl5 th,table.tbl5 tr{
    border: 1px solid black;
    font-family:"Courier New",Courier,Monospace;
    vertical-align: top;
}

table.tbl5 th{
    background-color: grey;
}

thead {display: table-header-group;}

tbody tr.head {
    page-break-before: always;
    page-break-inside: avoid;
}
