.detail-menu{
	margin-top: 200px;
	text-align: center;
}

.container{
	margin-top: 10px;
	max-width: 730px;
}

.find{
	margin-top: 20px;
	margin-bottom: 20px;
}

.col{
	padding: 0px 3px 0px 3px;
}

.mbox{
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	height: 100%;
	width: 100%;
	margin-bottom: 4px;
}

.mbox img{
	height: 170px;
	width: 100%;	
}

.mbox img:hover{
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	-webkit-filter: sepia(100%);
	cursor: pointer;
}

.mbox a{
	direction: none;
}

#bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
}

